[Unit]
Description=Call weekly stock service.

[Timer]
OnCalendar=Mon *-*-* 18:00:00
Persistent=true
Unit=StockWeekly.service

[Install]
WantedBy=timers.target
