[Unit]
Description=Call weekly (at the end of week) stock service.

[Timer]
OnCalendar=Fri *-*-* 18:00:00
Persistent=true
Unit=StockWeekly.service

[Install]
WantedBy=timers.target
